.gradient-custom {
    /* fallback for old browsers */
    background: #5361f2;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251,206,146,255), rgb(221, 168, 23));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(23, 135, 221), rgb(186, 144, 89));
    }

    
   